<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="container">
    <a class="navbar-brand" routerLink="/">channel</a>
    <div id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" *ngIf="!isLoggedIn" routerLink="/signin">Signin</a>
        <a class="nav-item nav-link" *ngIf="!isLoggedIn" routerLink="/signup">Signup</a>
        <a class="nav-item nav-link" *ngIf="isLoggedIn"  routerLink="/editor">New Article</a>
        <a class="nav-item nav-link" *ngIf="isLoggedIn" href="#">Settings</a>
        <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/profile',username]">{{ username }}</a>
      </div>
    </div>
  </div>
</nav>
